.category-boxes {
    margin: 25px;
    width: 175px;

}

.category-box {
    margin-top: 25px;
}

.email-viewer {
    padding: 25px;
}

.empty-selection {
    margin: 20px;
    padding: 20px;
    font-size: 1.2em;
}

.current-mail{
    background: rgba(0,0,0,0.05);
}

.icons {
    width:20px;
    height:20px;
}

.reply-form-td {
    padding: 10px;
}

.reply-form-buttons {
    top:15px;
}

.list-group-item:hover {
    background-color: lightblue;
    cursor: pointer;
}

.mail-item:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.mail-item-active {
    background-color: grey;
}